*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 10px;
    padding: 10px;
    background-color: #978b81;
}
header{
    text-align: center;
}
header h1{
    padding: 2%;
    font-size: 3em;
    color: #583f2a;
    text-shadow: 0px 0px 10px #fff;
    border-radius: 10px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin: 5% 10%;    
}
hr{
    width: 50%;
    margin: auto;
    border-color: #583f2a;
}
.botao{
    color: #000;
    padding: 50px;
    height: 30px;
    padding: 10px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 200px;
    border: 0.01px solid #583f2a;
    border-radius: 5px;
    display: inline-block; float: left;
    margin: 10px;
    opacity: .7;
}
.botao:hover{
    box-shadow: 0px 0px 40px #fff
}
.mdn{
    color: #fff;
    padding: 50px;
    height: 30px;
    padding: 10px 20px;
    text-align: center;
    background-color: #0A5DBD;
    width: 200px;
    border: 0.01px solid #fff;
    border-radius: 5px;
    display: inline-block; float: left;
    margin: 10px;
    opacity: .7;
}
.mdn:hover{
    box-shadow: 0px 0px 40px #fff
}
.w3c{
    color: #fff;
    padding: 50px;
    height: 30px;
    padding: 10px 20px;
    text-align: center;
    background-color: #059862;
    width: 200px;
    border: 0.01px solid #fff;
    border-radius: 5px;
    display: inline-block; float: left;
    margin: 10px;
    opacity: .7;
}
.w3c:hover{
    box-shadow: 0px 0px 40px #fff
}
.logo{
    position: absolute;
    width: 5%;
    top: 5%;
    left: 5%;
    border-radius: 50%;
}
.logo:hover{
    box-shadow: 0px 0px 20px #fff;
}
.gitHub{
    position: absolute;
    width: 5%;
    top: 5%;
    left: 15%;
    border-radius: 50%;
}
